<!DOCTYPE html>
<html>
<head>
  <title>Enron email browser</title>
  <%= favicon_link_tag 'favicon.ico' %>	
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<script>
	 $(function() {		
		$( "#from_address" ).autocomplete({
			source: "/search/from_field",
			minLength: 3
		});
	
		$( "#to_address" ).autocomplete({
			source: "/search/to_field",
			minLength: 3
		});
		
		$( "#datepicker" ).datepicker({
				defaultDate: new Date("2001-02-02"),
				dateFormat: "yy-mm-dd"
			});
	
	});
	


</script>

</head>
<body>

<%= yield %>


</body>
</html>
